*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
#root{
  width: 100%;
  height: 100%;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
}
.container-inner{
  width:80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: beige; */
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

